@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 768px) {
    .mobile-content {
        display: none;
    }

    body {
        position: relative; /* 부모 요소를 상대 위치로 설정 */
        min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
        display: flex;
        align-items: center; /* 세로 방향에서 중앙 정렬 */
        justify-content: center; /* 가로 방향에서 중앙 정렬 */
    }

    body::before {
        content: "이 페이지는 모바일 환경에서만 접근 가능합니다.";
        text-align: center;
        font-size: 20px;
        color: #326eef;
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-content {
        display: block;
    }

    .pc-warning {
        display: none;
    }
}